@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

:root {
  --green-100: #03cc5c;
  --green-200: #1bf008;
  --green-300: #03cca8;

  --gray-100: #bcc3c7;
  --gray-200: #9b9a90;
  --gray-300: #6d7478;

  --start-color: var(--green-200);
  --end-color: var(--green-300);
}

body {
  margin: 50px;
}

/* 컴포넌트 스타일링 */
/* 텍스트 로고 */
.text-logo {
  display: inline-flex;

  .text {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;

    background: linear-gradient(330deg, #07b46c, #00f836);
    color: transparent;
    background-clip: text;
  }
}

/* 입력 서식 */
.form-input {
  font-size: 0.875rem;
  line-height: 1.3;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  column-gap: 0.75rem;

  label {
    flex-shrink: 0;
  }

  input {
    min-inline-size: 0;
    flex-grow: 1;
    border: 1px solid #aaa;
    block-size: 32px;
    padding-inline: 0.5em;
    border-radius: 8px;

    &[readonly] {
      background-color: #ccc;
    }
  }
}

/* 비활성화 버튼 스타일링 */
button[disabled],
button:disabled {
  cursor: not-allowed;
}

/* 상태 디자인 */
.like-lion {
  padding: 10px;
  border: 1px solid #aaa;

  /* &:focus-within {
    background: yellow;
  } */

  &:has(input:focus) {
    background: lime;
  }

  /* 입력서식에 마우스 오버 시 */
  input:hover {
    /* background: pink; */
  }

  input:focus {
    outline: 0;
  }

  input:focus-visible {
    /* outline: 5px solid green; */
    box-shadow: 0 0 1px 2px green;
  }
}

.circle-button {
  inline-size: 24px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0;
  background: linear-gradient(330deg, #07b46c, #00f836);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    inline-size: 70%;
    block-size: 40%;
    background: white;
    border-radius: inherit;
  }
}

/* 검색 바 (폼 스타일링) */
.search-bar {
  border: 2px solid var(--green-100);
  padding: 0.75rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  column-gap: 0.75rem;
  border-radius: 100px;

  &:focus-within {
    box-shadow: 0 2px 2px 1px var(--gray-100);
  }

  a,
  button {
    flex-shrink: 0;
  }

  form {
    display: contents;
  }

  a {
    margin-inline-start: 0.5rem;
  }

  .form-input {
    flex-grow: 1;

    input {
      border: 0;
      outline: 0 none;
      font-weight: 700;
      appearance: none;

      &::-webkit-search-cancel-button {
        display: none;
      }
    }
  }

  .circle-button {
    margin-inline-start: 0.25rem;
  }
}
